html,
body,
section {
    min-height: 100vh;
    background-color: #c4c4c4;
    background-size: cover;
}

.incorrectCaptcha {
    color: #FF0000;
}

.correctCaptcha {
    color: #7FFF00;
}